<!-- <ul class="c-menu-main">
  <li>
    <a href="" onclick="return false">第一層</a>
    <ul class="List-item-2">
      <li><a href="" onclick="return false">清保養系列</a></li>
      <li><a href="" onclick="return false">套組/禮盒</a>
        <ul class="List-item-3">
          <li><a href="/pages/sales-channel">清保養套組</a></li>
          <li><a href="/pages/sales-channel">清保養禮盒</a></li>
        </ul>
      </li>
      <li><a href="" onclick="return false">依商品分類</a>
        <ul class="List-item-3">
          <li><a href="" onclick="return false">護唇膏</a>
            <ul class="List-item-4">
              <li><a href="/pages/sales-channel">月租</a></li>
            </ul>
          </li>
          <li><a href="" onclick="return false">洗面露</a>
            <ul class="List-item-4">
              <li><a href="/pages/sales-channel">零度寫作</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul> -->

<ul class="c-menu-main">
  <li class="List-item"><a href="" onclick="return false">所有商品</a>
    <ul>
      <li class="lvOne" id="lvOne"><a href="" onclick="return false">清保養系列1</a></li>
      <li class="lvOne" id="lvOne"><a href="" onclick="return false">套組/禮盒1</a>
        <ul>
          <li class="lvtwo"><a href="/pages/sales-channel">清保養套組2</a></li>
          <li class="lvtwo"><a href="/pages/sales-channel">清保養禮盒2</a></li>
        </ul>
      </li>
      <li class="lvOne" id="lvOne"><a href="" onclick="return false">依商品分類1</a>
        <ul>
          <li class="lvtwo" id="lvtwo"><a href="" onclick="return false">護唇膏2</a>
            <ul>
              <li class="lvthree" id="lvthree"><a href="/pages/sales-channel">月租3</a></li>
            </ul>
          </li>
          <li class="lvtwo" id="lvtwo"><a href="" onclick="return false">洗面露2</a>
            <ul>
              <li class="lvthree" id="lvthree"><a href="/pages/sales-channel">零度寫作3</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

  </li>
</ul>




<!-- <div class="input-group mb-3 input1">
  <input type="input" class="form-control" placeholder="input1" aria-label="Recipient's username"
    aria-describedby="basic-addon2" #gsInput1 googleSearch [(ngModel)]="AllValue.Input1">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" name="input1">
      <span class="glyphicon glyphicon-name"></span>
    </button>
  </div>
</div> -->

<!-- <div class="input-group mb-3 input2">
  <input type="input" class="form-control" placeholder="input2" aria-label="Recipient's username"
    aria-describedby="basic-addon2" #gsInput2 googleSearch name="Input2" [(ngModel)]="AllValue.Input2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">
      <span class="glyphicon glyphicon-name"></span>
    </button>
  </div>
</div> -->

<!-- <div class="input-group mb-3 input3">
  <input type="input" class="form-control" placeholder="input3" aria-label="Recipient's username"
    aria-describedby="basic-addon2" #gsInput3 googleSearch name="Input3" [(ngModel)]="AllValue.Input3">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">
      <span class="glyphicon glyphicon-name"></span>
    </button>
  </div>
</div> -->

<!-- <div class="input-group mb-3 input4">
  <input type="input" class="form-control" placeholder="input3" aria-label="Recipient's username"
    aria-describedby="basic-addon2" #gsInput4 googleSearch #gs='googleSearch'>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">
      <span class="glyphicon glyphicon-name"></span>
    </button>
  </div>
</div> -->

<!-- <button class="btn btn-outline-secondary" type="button" (click)="gs.search(AllValue)">查詢
</button>

<script async src="https://cse.google.com/cse.js?cx=5deacc45464bb8db1"></script>
<div class="gcse-search"></div> -->


<!-- <button  type="button" (click)="test()">test
</button> -->

<!-- <div>
  查詢條件
  <a *ngFor="let item of Data; let i in index">
    <i class="bi bi-backspace" (click)="test(i)">
      {{item}}
    </i>
  </a>
  <i class="bi bi-backspace"></i>
</div>
{{Data}} -->

