<div>
  <header>
    <h1>
      <a href="index.hmtl"></a>
    </h1>
    <nav id="nav">
      <ul>
        <li class="special">
          <a href="#menu" class="navbar-toggler menuToggle" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span>Menu</span>
            <span class="test">☰</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
<section id="home" class="scrollspy">
  <div class="inner">
    <h2>&nbsp;</h2>
    <p>純熟技術．帝王尊寵</p>
  </div>
  <a href="#one" class="more">ENTER</a>
</section>
<section></section>
<section></section>
<section></section>

<div class="collapse" id="navbarToggleExternalContent">
  <ul>
    <li><a href="#home" class="menu__item">Home</a></li>
    <li><a href="#banner" class="menu__item">品牌精神 BRAND SPIRIT</a></li>
    <li><a href="#treatment" class="menu__item">嚴選療程 TREATMENT</a></li>
    <li><a href="#facilities" class="menu__item">環境設施 FACILITIES</a></li>
    <li><a href="#location" class="menu__item">交通資訊 LOCATION</a></li>
  </ul>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".collapse"
    aria-expanded="false" aria-controls="navbarToggleExternalContent ">Toggle both elements</button>
</div>
