#myCloudTag {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 0;
  height: 100%;
}

#myCloudTag canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: auto; */
  height: 100%;
  z-index: 1;
}

.tagList {
  /* color: black; */
  font-weight: 1000;
  font-size: 30px
}

#tags {
  display: none;
}
