<h1>計算機練習</h1>

<div class="caculator">

  <div  class="formula">{{formula}}</div>
  <input class="input" [(ngModel)]="ansWer">

  <div class="row">
    <div type="button" class="btn" (click)="clear()">AC</div>
    <div type="button" class="btn" (click)="del()">DEL</div>
    <div type="button" class="btn" (click)="num('/')">÷</div>
  </div>
  <div class="row">
    <div type="button" class="btn" (click)="num('7')">7</div>
    <div type="button" class="btn" (click)="num('8')">8</div>
    <div type="button" class="btn" (click)="num('9')">9</div>
    <div type="button" class="btn" (click)="num('*')">X</div>
  </div>
  <div class="row">
    <div type="button" class="btn" (click)="num('4')">4</div>
    <div type="button" class="btn" (click)="num('5')">5</div>
    <div type="button" class="btn" (click)="num('6')">6</div>
    <div type="button" class="btn" (click)="num('-')">-</div>
  </div>
  <div class="row">
    <div type="button" class="btn" (click)="num('1')">1</div>
    <div type="button" class="btn" (click)="num('2')">2</div>
    <div type="button" class="btn" (click)="num('3')">3</div>
    <div type="button" class="btn" (click)="num('+')">+</div>
  </div>
  <div class="row">
    <div type="button" class="btn" (click)="num('0')">0</div>
    <div type="button" class="btn" (click)="num('00')">00</div>
    <div type="button" class="btn" (click)="num('.')">.</div>
    <div type="button" class="btn" (click)="ans()">=</div>
  </div>
</div>



<div class="hot_container">
  <div class="circle color1">
    <a href="#">現正熱映</a>
  </div>
  <div class="circle color2">
    <a href="#">即刻上映</a>
  </div>
</div>
