
.caculator {
  min-width: 350px;
  background-color: #ddd;
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 50%);
  border-radius: 3px;
}
.display {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background: #777;
  color: #fff;
  font-size: 24px;
  letter-spacing: 3px;
  margin: 15px 10px 20px 15px;
  border: 2px solid #1da5a5;
  flex-flow: column nowrap;
  cursor: pointer;
  height: 75px;
  padding-right: 5px;
  overflow: hidden;
  transition: all 0.1s ease-in;
}
.key-row {
  display: flex;
  border-bottom: 1px solid #ddd;
  justify-content: center;
  align-items: center;
}
li {
  display: inline-block;
  margin: 10px 10px 10px 10px;
  width: 65px;
  height: 40px;
  border: solid 1px black;
  font-size: 16px;
  cursor: pointer;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in;
}
