/* #index_main custom  */

.custom {
  position: relative;
  max-width: 85%;
  margin: 20px auto;
  background-color: #f3f2f2;
}
@media only screen and (max-width: 1200px) {
  .custom {
    max-width: 100%;
  }
}
.custom .cont-tit {
  display: none;
}
.custom .title02 {
  color: #fff;
}
.custom img.bg {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.custom .eventList.slider.thumbnail {
  background: none;
  border: none;
  margin: 0 50px;
}
.custom .image-wrap {
  overflow: hidden;
}
.custom img {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.3s;
  width: 37% !important;
  padding-right: 8px;
  max-width: 85px;
}
.custom img:hover {
  -moz-transform: scale(1.075);
  -webkit-transform: scale(1.075);
  -ms-transform: scale(1.075);
  transform: scale(1.075);
  transition: transform 0.3s;
}
@media only screen and (max-width: 991px) {
  .custom .eventList.slider.thumbnail {
    background: none;
    border: none;
    margin: 0 5%;
  }
}
.custom .eventList .item {
  position: relative;
  padding: 0 15px;
  margin-bottom: 20px;
}
.custom .eventList .item a {
  position: relative;
  display: block;
  opacity: 1;
}
.custom .eventList .item .details {
  position: relative;
  background: #fff;
  padding: 20px 20px 10px;
}
.custom .eventList .item .series {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 25px;
}
.custom .eventList .item .series img {
  width: auto !important;
  height: auto !important;
  max-width: 35px !important;
  max-height: 35px !important;
}
.custom .eventList .item .series:hover {
  opacity: 0.7;
}
.custom .eventList .item time {
  display: inline-block;
  font-size: 1em;
  padding-bottom: 10px;
}
.custom .eventList .item h3 {
  font-size: 1.2em;
  height: 2.5em;
  line-height: 1.3;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.custom .eventList .slick-prev,
.slick-next {
  font-size: 2em;
  line-height: 1;
  position: absolute;
  top: 40%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  transform: scaleY(3);
}
.custom .slick-prev:before,
.custom .slick-next:before {
  opacity: 1;
  color: white;
}
.custom .eventList .slick-next:before {
  content: ">";
}
.custom .eventList .slick-prev:before {
  content: "<";
}
.slick-dots li button {
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  border-radius: 50%;
}
.index-uesfullink-cont {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.index-uesfullink-item:nth-child(n) {
  display: inline-flex;
  width: 15.5%;
  vertical-align: top;
  margin: 10px 5px 12px 5px;
  padding: 0px 0px 0 0px;
  border-radius: 0px;
  border-right: 1px dotted #686868;
}

.index-uesfullink-cot {
  display: inline-flex;
  text-align: left;
  margin-left: -4px;
  font-size: medium;
  line-height: 1.4;
}
.index-uesfullink-cont a {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  color: #000;
  text-decoration: none;
}
.index-uesfullink-cont a :hover {
  color: #901 !important;
}
.useful-service-item {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 10px 0 10px 0;
}
.index-uesfullink-item:last-child {
  border-right: 0px dotted #686868;
}
.index-uesfullink-cont a p {
  float: left;
  width: 100%;
  text-align: center;
  margin: 0px 0 10px 0;
  font-size: 0.98em;
  line-height: 26px;
  color: #fff;
  padding: 3px 0;
}
@media only screen and (max-width: 1250px) {
  .index-uesfullink-item:nth-child(n) {
    display: inline-flex;
    width: 25%;
    vertical-align: top;
    margin: 20px 1% 12px 1%;
    padding: 0px 10px 0 10px;
    border-radius: 0px;
  }
  .index-uesfullink-item:nth-child(3) {
    border-right: 0px dotted #686868;
  }
  .custom {
    margin: 0px auto;
  }
}
@media only screen and (max-width: 1100px) {
  .index-uesfullink-item:nth-child(n) {
    display: inline-flex;
    width: 25%;
    vertical-align: top;
    margin: 20px 1% 12px 1%;
    padding: 0px 10px 0 10px;
    border-radius: 0px;
  }
  .index-uesfullink-item:nth-child(3) {
    border-right: 0px dotted #686868;
  }
  .custom {
    margin: 0px auto;
  }
}
@media only screen and (max-width: 800px) {
  .index-uesfullink-item:nth-child(n) {
    display: inline-flex;
    width: 45%;
    vertical-align: top;
    margin: 15px 1% 12px 1%;
    padding: 0px 10px 0 10px;
    border-radius: 0px;
    border-right: 1px dotted #686868;
  }
  .index-uesfullink-item:nth-child(2n) {
    border-right: 0px dotted #686868;
  }
  .custom {
    margin: 0px auto;
  }
}
