<div class="template_030" id="top" appSurveyInput tabindex="-1">
  <header #headerWithoutBanner>
    <!-- 選單區塊 -->
    <nav class="navbar navbar-default navbar-style" #navmenu>
      <div class="container-fluid">
        <div class="row">
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#defaultNavbar1" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#defaultNavbar1" data-toggle="collapse" type="button"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="defaultNavbar1">
            <!-- 選單 -->
            <app-menu></app-menu>
            <!-- /.選單 -->
          </div>
        </div>
      </div>
    </nav>
    <!-- /.選單區塊 -->
  </header>

  <!-- 內容區塊 -->
  <div id="index_main" #index_main>
    <a *ngIf="isIndex ; else anotherPage" href="#index_main" pageScroll [class.disableClick]="editable"
     class="key" accesskey="C" appSurveyInput tabindex="0">:::</a>
    <ng-template #anotherPage>
      <a href="#main_content" pageScroll [class.disableClick]="editable"
        class="key" accesskey="C" appSurveyInput tabindex="0" [ngStyle]="getGuideTileposition">:::</a>
    </ng-template>
    <div class="container-fluid">
      <!-- <div class="row"> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /.內容區塊 -->

</div>
