.carousel .carousel-item {
  height: 700px;
}

.carousel .carousel-item img {
  min-height: 700px;
  max-height: 500px;
  object-fit: cover;
}
.carousel-control-prev-icon{
  background-color: transparent;
}
.Footer {
  height: 100px;
  position: relative;
  margin-top: -100px;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
 .c-footer a {
  font-size: 19px;
}
.c-footer .c-footer-nav a {
  display: block;
  padding: 1em .5em .5em;
  color: #000;
  position: relative;
}
.c-footer {
  background-color: bisque;
}
