.del {
  background: #f1f0e2;
  color: #af5b5e;
  border: none;
  padding: 3px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}
.del:hover,:focus {
  background: #f1f0e2;
  color: #703a3c;
  border: none;
  padding: 3px 9px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  outline:none
}
.todo {
  background: #f1f0e2;
  padding: 10px;
  border-bottom: 3px #ccc dotted;
}

.is-complete {
  text-decoration: line-through;
}
label.todoLabel {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ccc%22%20stroke-width%3D%225%22/%3E%3C/svg%3E);
  width: 40px;
  white-space: nowrap;
  text-indent: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  margin: 0px;
}
label.todoLabel.completed {
  background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;
  background-position: center left;
  text-decoration: line-through;
}
input {
  display: none;
}
