<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">作品集</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home 自我簡介 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../GoogleSearch">Google Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">動態表單</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../GoogleTranslate">Google 翻譯</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../Computer">計算機</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../Array">Array練習</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../TagCanvas">TagCanvas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../NgxSmartMadal">NgxSmartMadal</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet> -->
<nav class="navbar-collapse topMenu">
  <ul class="nav navbar-nav">
    <ng-container *ngFor="let level_one_data of data">
      <!--LEVEL 1-->
      <li class="dropdown menu-large">
        <ng-container *ngIf="level_one_data.moduleKey !== 'LINKING'">
          <a *ngIf="level_one_data.menus" class="dropdown-toggle" href="#" data-toggle="dropdown">{{level_one_data.name}}
            <b class="caret"></b>
          </a>
          <a *ngIf="!level_one_data.menus" class="dropdown-toggle" routerLink="{{level_one_data.path}}" data-toggle="dropdown">{{level_one_data.name}}
          </a>
        </ng-container>
        <ng-container *ngIf="level_one_data.moduleKey == 'LINKING'">
          <a href="{{level_one_data.path}}"  target="_blank" title="{{'openNewWindow' | translate}}">{{level_one_data.name}}</a>
        </ng-container>
        <div class="dropdown-menu megamenu row" *ngIf="level_one_data.menus">
          <ul style="max-width: 900px;margin: 0 46px;">
            <li class="col-md-3 col-sm-12 col-xs-12 pd_btm"
                *ngFor="let level_two_data of level_one_data.menus">
              <ul >
                <li class="dropdown-header">
                  <ng-container *ngIf="level_two_data.moduleKey !== 'LINKING'">
                    <a *ngIf="level_two_data.menus" class="level_two_data_a">{{level_two_data.name}}</a>
                    <a *ngIf="!level_two_data.menus" routerLink="{{level_two_data.path}}">{{level_two_data.name}}</a>
                  </ng-container>
                  <ng-container *ngIf="level_two_data.moduleKey == 'LINKING'">
                    <a href="{{level_two_data.path}}"  target="_blank" title="{{'openNewWindow' | translate}}">{{level_two_data.name}}</a>
                  </ng-container>
                </li>
                <li class="col-md-12 level-three" *ngFor="let level_three_data of level_two_data.menus">
                  <ng-container *ngIf="level_three_data.moduleKey !== 'LINKING'">
                    <a routerLink="{{level_three_data.path}}">{{level_three_data.name}}</a>
                  </ng-container>
                  <ng-container *ngIf="level_three_data.moduleKey == 'LINKING'">
                    <a href="{{level_three_data.path}}"  target="_blank" title="{{'openNewWindow' | translate}}">{{level_three_data.name}}</a>
                  </ng-container>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ng-container>
  </ul>
</nav>
