<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">作品集</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home 自我簡介 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../GoogleSearch">Google Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">動態表單</a>
      </li>
      <li class="nav-item">
        <a class="nav-link "routerLink="../dataTable">簡易CRUD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../GoogleTranslate">Google 翻譯</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../Computer">計算機</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../Array">Array練習</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../FlopGame">FlopGame</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="../TagCanvas">TagCanvas</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
