<div class="main" id="content">
  <!-- breadcrumd -->
  <section class="breadcrumb-section">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/ArticleContent/5b93cc99-3a1e-4000-a545-aa5dfe375708" title="首頁">首頁</a>
          </li>
          <li class="breadcrumb-item"><a href="#" title="購票資訊">購票資訊</a></li>
          <li class="breadcrumb-item"><a href="#" title="快速查詢">快速查詢</a></li>
          <li class="breadcrumb-item"><a href="#" title="時刻表與票價查詢">時刻表與票價查詢</a></li>
        </ol>
        <button class="btn btn-print hidden-s" title="列印本頁" id="btnPrintPage">
          <i class="kyicon-icon_printer"></i>列印本頁
        </button>
      </nav>
    </div>
  </section>
  <!-- 標題 -->
  <section class="timetable-header">
    <h2 class="title-01 h3">時刻表與票價查詢</h2>
  </section>
  <!-- 查詢區 -->
  <section class="timetable-search-frame bg-grey">
    <div class="container">
      <div class="ha-nav-content">
        <div class="tt-search-panel">
          <!-- 起程站 -->
          <div class="tt-col">
            <div class="inline-input-group row">
              <div class="col-input col-5">
                <app-select-option labelName='起始站' (value)="getTHSRstationValue($event,true)"
                  (valueID)="getTHSRstationID($event,true)"></app-select-option>
              </div>
              <div class="col-input col-5">
                <app-select-option labelName='終點站' (value)="getTHSRstationValue($event,false)">
                  (valueID)="getTHSRstationID($event,true)"</app-select-option>
              </div>
            </div>
          </div>
          <!-- 終點站 -->
          <div class="tt-col">
            <div class="inline-input-group row" id="tot-1">
              <div class="col-input col-12">
                <label class="input-smalllabel" for="typesofticket"> </label>
                <select class="form-control mt-0 select-type01" title="票種" id="typesofticket">
                  <option value="tot-1">單程</option>
                  <option value="tot-2" selected="">去回程</option>
                </select>
              </div>
            </div>
          </div>
          <!-- 日起時間 -->
          <!-- <div class="tt-col">
            <div class="inline-input-group row" id="tot-1">
              <div class="col-input col-6">
                <div class="input-group date" data-provide="datepicker">
                  <input type="text" class="form-control" placeholder="Datepicker" class="form-control" bsDatepicker>
                </div>
              </div>
            </div>
          </div> -->
          <div class="tt-col">
            <div class="inline-input-group row" id="tot-1">
              <div class="col-input col-6">
                <label class="input-smalllabel active" for="Departdate03">去程日期</label>
                <input id="Departdate03" type="date" class="form_date form-control" [(ngModel)]="date">
              </div>
              <div class="col-input col-6">
                <label class="input-smalllabel active" for="outWardTime">去程時刻</label>
                <input id="outWardTime" type="time" placeholder="去程時刻" class="form_time form-control"
                  [(ngModel)]="time">
              </div>
            </div>
          </div>
          <!-- 查詢按鈕 -->
          <div class="tt-col">
            <button type="button" title="查詢" class="btn btn-orange btn-full inlineM mt-3" id="start-search"
              (click)="getdata()">
              查詢
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- table 區塊 -->
  <section class="time-result-section active-result" *ngIf="RailODDailyTimetable">
    <div class="container">
      <div class="tr-nav-head">
        <div class="trn-title">
          <div class="from" *ngIf="startTHSRstationValue">{{startTHSRstationValue}}</div>
          <div class="arrow"><span>去程</span></div>
          <div class="to" *ngIf="endTHSRstationValue">{{endTHSRstationValue}}</div>
        </div>

        <div class="trn-datetime">
          2021/04/11(日) 15:00
        </div>

        <div class="trn-button">
          <a href="" title="" id="ttab-01_prevPage" name="changePage" style="visibility: visible;">
            <i class="kyicon-arrow_back"></i>
            <p class="mb-0 mt-0">較早<span class="hidden-s">班次</span></p>
          </a>
          <a href="" title="" id="ttab-01_nextPage" name="changePage" style="visibility: visible;">
            <p class="mb-0 mt-0">較晚<span class="hidden-s">班次</span></p><i class="kyicon-arrow_forward"></i>
          </a>
        </div>
      </div>
      <!-- <table id="table" data-search="true" ></table> -->
      <div class="card" *ngIf="RailODDailyTimetable">
        <p-table [columns]="cols" [value]="RailODDailyTimetable" selectionMode="single" [paginator]="true" [rows]="10"
          [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [rowsPerPageOptions]="[10,25,50]">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
              <td>{{rowData.TrainDate}}</td>
              <td>{{rowData.OriginStopTime.DepartureTime}}</td>
              <td>{{rowData.DestinationStopTime.ArrivalTime}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
</div>
