<h1>翻牌小遊戲</h1>
<section class="memory-game">


  <div class="memory-card" data-framework="Spades" >
    <img class="front-face" src="../../../../assets/img/flop-game/黑桃.jpg" alt="Spades" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>
  <div class="memory-card" data-framework="Spades">
    <img class="front-face" src="../../../../assets/img/flop-game/黑桃.jpg" alt="Spades" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>

  <div class="memory-card" data-framework="Love">
    <img class="front-face" src="../../../../assets/img/flop-game/愛心.jpg" alt="Love" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>
  <div class="memory-card" data-framework="Love">
    <img class="front-face" src="../../../../assets/img/flop-game/愛心.jpg" alt="Love" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>

  <div class="memory-card" data-framework="Cube">
    <img class="front-face" src="../../../../assets/img/flop-game/方塊.jpg" alt="Cube" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>
  <div class="memory-card" data-framework="Cube">
    <img class="front-face" src="../../../../assets/img/flop-game/方塊.jpg" alt="Cube" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>

  <div class="memory-card" data-framework="blossom">
    <img class="front-face" src="../../../../assets/img/flop-game/梅花.jpg" alt="blossom" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>
  <div class="memory-card" data-framework="blossom">
    <img class="front-face" src="../../../../assets/img/flop-game/梅花.jpg" alt="blossom" />
    <img class="back-face" src="../../../../assets/img/flop-game/back.jpg" alt="Memory Card" />
  </div>

</section>
